<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <h3 th:text="${jobs.size()} + ' Result(s)'"></h3>


    <span th:each="job : ${jobs}">
        <table class="job-listing">
            <span th:each="record : ${job}">
                <tr>
                    <td th:text="${record.key}"></td>
                    <td th:text="${record.value}"></td>
                </tr>
            </span>
        </table>
    </span>




    <!-- TODO #3 - Use the same list display from search.html -->

</div>

</body>
</html>