<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchColumn"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />







    <div th:if="${jobList}">
        <h2 th:text="${jobList.size()} + ' Result(s)'"></h2>
        <span th:each="job : ${jobList}">
                <table class="job-listing">
                    <span th:each="record : ${job}">
                        <tr>
                            <td th:text="${record.key}"></td>
                            <td th:text="${record.value}"></td>
                        </tr>
                    </span>
                </table>
            </span>
    </div>



    <!-- TODO #2 - Loop over jobs map to display all job fields
    this template displays the search form as well as results
    so user can easily search again without navigating elsewhere
    -->

</div>

</body>
</html>